@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Dancing Script', cursive;
}
body{
  background-image: url("bgimg.jpg");
  background-size:cover;
  background-repeat:no repeat;
  
}
.home{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
nav{
  display: flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(10, 10, 9, 0.6);
  color:#04e8fd;
  padding:15px 85px;
}
nav.logo h1{
  text-transform:uppercase;
  color:yellow;
}
nav.logo h1 span{
  color: #01f209;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  text-transform:lowercase;
}
nav ul{
  display:flex;
  padding:15px;
  justify-content:space-between;
}

nav ul li{
  list-style:none;
  justify-content:space-between;
  padding: 10px;
}
nav ul li a{
  text-decoration:none;
  color:#ffffff;
  font-size:15px;
  text-transform:uppercase;
  transition:0.4s ease;
  justify-content:space-between;
}

nav ul li a:hover{
  color:yellow;
  justify-content:space-between;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  min-height: 80vh;
  margin-top:-50px;
}
.banner h2{
  color: #040407;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid #2f0eeb;
  padding: 20px;
  font-size: 30px;
}
.banner h2 span{
  color:	#6200ff;
  font-size:35px;
}
.banner h3{
  color:#ff00bf;
  padding: 40px;
  font-weight: 500;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}
.special{
  display: flex;
  justify-content: center;
  align-items:  center;
  background-color: white;
  gap: 15px;

}
.special .special-box{
  height: 200px;
  width: 150px;
  background: black;
  margin-top:-100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border: 2px solid yellow;
}
.special-box img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  object-fit: cover;
  border:  2px solid yellow;
}
.special-box h2{
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}
.special-box h3{
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  
}
